<div id="skiptomain"><a href="#maincontent">skip to main content</a></div>

<div id="wrapper">
  <div id="headcontainer">
    <header>
    <h1>Brew Bar Baz</h1>
    <h2>The following breweries are in your area. Support your local businesses!</h2>
    <p class="introtext"></p>
    </header>
  </div>
  <div id="maincontentcontainer">
    <div id="maincontent">

      <div class="section group">
      <h3>Two Columns</h3>
      </div>

      <div class="section group">
        <div class="col span_1_of_2">
        1 of 2
        </div>
        <div class="col span_1_of_2">
        1 of 2
        </div>
      </div>

      <div class="section group">
      <h3>Three Columns</h3>
      </div>

      <div class="section group">
        <div class="col span_1_of_3">
        1 of 3
        </div>
        <div class="col span_1_of_3">
        1 of 3
        </div>
        <div class="col span_1_of_3">
        1 of 3
        </div>
      </div>

      <div class="section group">
      <h3>Four Columns</h3>
      </div>

      <div class="section group">
        <div class="col span_1_of_4">
        1 of 4
        </div>
        <div class="col span_1_of_4">
        1 of 4
        </div>
        <div class="col span_1_of_4">
        1 of 4
        </div>
        <div class="col span_1_of_4">
        1 of 4
        </div>
      </div>
    </div>
  </div>
  <div id="footercontainer">
    <footer class="group">
      <div class="col span_1_of_3">
      <h4>About me</h4>
      <p></p>
      </div>
      <div class="col span_1_of_3">
      <h4>Why did I make this?</h4>
      <p></p>
      </div>
      <div class="col span_1_of_3">
      <h4>More about DBC</h4>
      <p></p>
      </div>
        <br class="breaker" />
    </footer>
  </div>
</div>
  <!-- JavaScript at the bottom for fast page loading -->
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
  <!-- More Scripts-->
  <script src="js/responsivegridsystem.js"></script>
