<!DOCTYPE html>

<html>

<head>
  <!-- FAVICON -->
  <link rel="shortcut icon" href="/../images/beer.ico">

  <!-- Normalize CSS -->
  <link rel="stylesheet" href="css/normalize.css">
  <!-- Responsive Grid CSS -->
  <link rel="stylesheet" type="text/css" href="css/responsivegrid.css">
  <!-- Style CSS -->
  <link rel="stylesheet" href="css/style.css">

  <!-- GOOGLE FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Pacifico, Lora' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

  <!-- TITLE -->
  <title>Brew Bar Baz - Beer Discovery Tool</title>
</head>

<body>
  <%= yield %>
</body>

</html>
