<!DOCTYPE html>

<html>

<head>
  <!-- VIEWPORT META -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FAVICON -->
  <link rel="shortcut icon" href="/../images/beer.ico">

  <!-- Normalize CSS -->
  <link rel="stylesheet" href="css/normalize.css">
  <!-- Responsive Grid CSS -->
  <link rel="stylesheet" type="text/css" href="css/responsivegrid.css">
  <!-- Style CSS -->
  <link rel="stylesheet" href="css/style.css">

  <!-- GOOGLE FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|Bitter:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- JAVASCRIPT -->
  <script type="text/javascript" src="/js/jQuery.js"></script>
  <script type="text/javascript" src="/js/event.js"></script>

  <!-- TITLE -->
  <title>Brew Bar Baz - Beer Discovery Tool</title>
</head>

<body>
  <%= yield %>
</body>

</html>
